<html>
<head>
  <title></title>
</head>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://unpkg.com/@antv/g6@2.1.0/build/g6.js"></script>
<script src="https://unpkg.com/@antv/g6@2.1.0/build/plugin.tool.tooltip.js"></script>
<script src="https://unpkg.com/@antv/g6@2.1.0/build/plugin.behaviour.analysis.js"></script>
<link href="https://cdn.jsdelivr.net/npm/charts.css/dist/charts.min.css" rel="stylesheet"></link>

<body>
  <div id="tree"></div>
  <script src="../static/myjs/tree.js"></script>
  <script>
    drawScene("tree", "${id}")
  </script>
<script>

</script>
</body>
</html>